# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE/editor folders
.vscode/
.idea/

# Other unnecessary files
profiles/
old_ids/
photos/
proofs/
parent_ids
hospital_proofs
birth_photos
# env
.env
